//h2 de oferta-cursos
$font-h2-oferta-cursos: 2.8em;
$font-h2-oferta-cursos-xl: 2.6em;
$font-h2-oferta-cursos-lg: 2.3em;
$font-h2-oferta-cursos-sm: 2em;
//p de oferta-cursos
$font-p-oferta-cursos: 2.4em;
$font-p-oferta-cursos-xl: 2.2em;
$font-p-oferta-cursos-lg: 2em;
$font-p-oferta-cursos-sm: 1.7em;
//h2 generales
$font-h2: 2.8em;
$font-h2-xl: 2.4em;
$font-h2-lg: 2.2em;
$font-h2-md: 2em;
$font-h2-sm: 1.8em;
//h3 generales
$font-h3: 1.6em;
$font-h3-xl: 1.4em;
$font-h3-lg: 1.2em;
$font-h3-md: 1em;
$font-h3-sm: 0.9em;
//P generales
$font-p: 1.5em;
$font-p-xl: 1.3em;
$font-p-lg: 1.2em;
$font-p-sm: 0.9em;
//P ventajas
$font-p-ventajas-desktop: 1.8em;
$font-p-ventajas-xl: 1.6em;
$font-p-ventajas-lg: 1.3em;
$font-p-ventajas-sm: 1.1em;