$width-img: 24%;
$width-caja-beneficios: 27%;
$width-caja-beneficios-xl: 75%;
$width-ventajas-ct-container: 48%;
$width-ventajas-ct-container-lg: 95%;
$width-card: 20rem;
$width-card-xl: 19rem;
$width-card-lg: 16rem;
$width-card-sm: 13.5rem;
$width-input-form: 40%;
$width-input-form-xl: 70%;
$width-input-form-lg: 60%;
$width-input-form-sm: 90%;