/*imports*/
@import "fonts";
@import "colors";
@import "grids";
@import "shadows";
@import "widths";
@import "box";
@import "cards";

/*reseteo universal*/
* {
    margin: 0%;
    padding: 0%;
}

/*fuente de texto*/
body {
    font-family: 'Archivo', sans-serif;
}

h1{
    @extend .h1-styles-desktop;
}
h2{
    @extend .h2-styles-desktop;
}
h3{
    @extend .h3-styles-desktop
}

/*estructuras de la clase body*/
.body {
    display: grid;
    grid-template:
        $grids ;
    background-image: linear-gradient(0deg, rgba(230, 230, 230, 0.8), rgba(210, 210, 210, 0.9)),
        url("../assets/imgs/rascacielos.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

/*atributos en general al header*/
.header {
    grid-area: header;
    max-width: 100%;

    .nav-link {
        margin-left: 5px;
        &:hover {
            @extend .anchor-hover;
            text-decoration: underline;
        }
    }
    .active {
        font-weight: bolder;
        &:hover {
            @extend .anchor-hover;
            text-decoration: none;
            color: $gris-ct-light;
        }
    }

}

/*clase main con su grid area*/
.main {
    grid-area: main;
}

/*margenes izquierdos para los enlaces del nav*/


/*atributos al section del index*/
.oferta-cursos {
    height: 420px;
    background-attachment: fixed;

    .oferta-cursos__container {
        padding: 20px;
        color: $negro;

        .oferta-cursos__h2{
            margin: 0%;
            text-align: left;
        }
        .oferta-cursos__p {
            font-weight: 300;
            border-bottom: 1px solid $negro;
            width: 90%;
            font-size: $font-p-oferta-cursos;
        }

        .oferta-cursos__button {
            font-weight: 600;
            padding: 15px;
            font-size: 1.1em;
        }
    }
}

/*fin de atributos al section de oferta-cursos*/

/*atributos al section de beneficios-consulteccnia*/
.beneficios-consulteccnia {
    max-width: 100%;
    border-top: 0.2px solid $negro;
    background-color: $white-ct;

    .beneficios-consulteccnia__caja {
        box-shadow: $sombras-ct;
        @include propiedadesCajas(9px, 10px, $gris-ct-light, $negro, 2px, $width-caja-beneficios);

        &:hover {
            box-shadow: $sombras-ct-hover;
            border-radius: 9px;
            background-color: $gris-ct-hover;
            transition: .5s all;
        }

        .beneficios-consulteccnia__p {
            font-size: $font-size-p;
            color: $negro;
        }

        .beneficios-consulteccnia__img-card {
            width: $width-img
        }
    }
}

/*fin de atributos al section de beneficios-consulteccnia*/

/*atributos al section de ventajas-consulteccnia*/
.ventajas-consulteccnia {
    background-color: $white-ct;
    padding: $relleno-cajitas;

    .contenedor-padre {
        background-image: url("../assets/imgs/raya-divisora.png");
        background-size: cover;
        background-position: center center;

        .ventajas-consulteccnia__contenedor-padre__flex-start {
            @include ventajas-contenedor(flex, column, flex-start);
        }

        .ventajas-consulteccnia__contenedor-padre__flex-end {
            @include ventajas-contenedor(flex, column, flex-end);
        }

        .ventajas-consulteccnia__contenedor {
            background-image: linear-gradient(20deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)), url("../assets/imgs/city-map.jpg");
            background-attachment: fixed;
            @include propiedadesCajas(7px, $relleno-cajitas, $negro, $white-ct, 2px, $width-ventajas-ct-container);
            box-shadow: $sombras-ct;
            text-align: center;

            &:hover {
                transition: .5s all;
                box-shadow: $sombras-ct-hover;
            }
            .ventajas-consulteccnia__img-ventaja {
                width: $width-img;
            }
            .ventajas-consulteccnia__p {
                font-size: $font-size-p-ventajas-desktop;
                color: $white-ct;
            }
        }
    }
}

/*fin de atributos al section de ventajas-consulteccnia*/

/*atributos a ubicacion*/
.ubicacion {
    border-top: 1px solid $negro;
    background-color: $white-ct;

    .ubicacion__p {
        color: $negro;
        padding: 15px;
    }

    .ubicacion__iframe {
        border-radius: 10px;
        box-shadow: $sombras-ct;
    }
}

/*fin atributos a ubicacion*/

/*atributos a la sección cursos*/
.cursos {
    max-width: 100%;
    .cursos .col {
        padding-right: 0%;
    }

    .cursos .card-title {
        @include cards-titles($font-h3-size, 90px);
    }
}

/*fin atributos a sección cursos*/

/*atributos en general a las cards de servicios y capacitaciones*/
.card {
    background-color: $gris-ct-light;
    border: 1px solid $negro;
    width: $width-card;

    &:hover {
        box-shadow: map-get($map: $cards-hovers, $key: sombras);
        transition: map-get($map: $cards-hovers, $key: transicion);
        background-color: map-get($map: $cards-hovers, $key: bg-color);
        color: map-get($map: $cards-hovers, $key: color);
        @if (background-color: $negro){
            .btn{
                background-color: $white-ct;
                color: $negro;
                transition: map-get($map: $cards-hovers, $key: transicion);
                font-weight: 400;
            }
            .card-img-top{
                transition: map-get($map: $cards-hovers, $key: transicion);
            }
        }
    }

    .card-text {
        font-size: 0.97em;
    }
}

/*fin atributos en general a las cards de servicios y capacitaciones*/

/*atributos en general a la sección de servicios*/
.servicios {
    max-width: 100%;

    .col {
        padding-right: 0%;
    }

    .card-title {
        @include cards-titles(1.5em, 110px);
    }
}

/*fin atributos en general a la sección de servicios*/

/*atributos a la sección de about-me*/
.about-me {
    padding: 5px;

    .about-me__p {
        font-size: $font-size-p;
    }

    .about-me__img {
        max-width: 90%;
        box-shadow: $sombras-ct;
    }

    .about-me__legend {
        font-size: 1.3em;
    }
}

.contact{
    background-color: $white-ct;
    /* atributos a elementos dentro de la clase formulario*/
    .formulario {
        background-color: $gris-ct;
        border-radius: 9px;
        box-shadow: $sombras-ct;
        color: $white-ct;
    
        .form-control {
            width: $width-input-form;
            border-bottom: 1px solid $gris-ct;
        }
    
        .form-label {
            font-weight: 800;
        }
    }
}
/*fin de atributos a la sección de about-me*/


/* fin de atributos a la sección de formularios*/

/*atributos a elementos dentro de la clase footer*/
.footer {
    padding: 20px 0px 15px 5px;
    grid-area: footer;
    background-color: $gris-ct;

    p {
        color: $white-ct;
    }

    .enlace-insta {
        text-decoration: none;
        color: $white-ct;
        font-weight: 800;
    }

    .insta {
        width: 2%;
        padding: 3px;
    }

    hr {
        color: $white-ct;
    }

    a {
        color: $white-ct;
    }

    .creditos {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white-ct;
    }
}

.footer__logotype {
    width: 10%;
}

/*fin atributos a elementos dentro de la clase footer*/

/*AQUÍ COMIENZAN LOS MEDIA QUERIES*/
/*AQUÍ COMIENZAN LOS MEDIA QUERIES*/
/*AQUÍ COMIENZAN LOS MEDIA QUERIES*/

/*adaptación a extra large*/
@media only screen and (max-width:1200px) {

    /*sección oferta-cursos*/
    .oferta-cursos {
        height: auto;

        .oferta-cursos__container {
            .oferta-cursos__h2 {
                font-size: $font-h2-oferta-cursos-xl;
            }

            .oferta-cursos__p {
                font-size: $font-p-oferta-cursos-xl;
            }

            .oferta-cursos__button {
                padding: $relleno-cajitas;
            }
        }
    }

    /*fin sección oferta-cursos*/

    /*sección beneficios-consulteccnia*/
    .beneficios-consulteccnia {
        .beneficios-consulteccnia__caja {
            @include propiedadesCajas(10px, $relleno-cajitas, $gris-ct-light, $negro, 2px, $width-caja-beneficios-xl);

            .beneficios-consulteccnia__p {
                font-size: $font-size-p-lg;
            }

            .beneficios_consulteccnia__h3 {
                font-size: $font-h3-size-xl;
            }
        }
    }

    /*fin de sección beneficios-consulteccnia*/

    .ventajas-consulteccnia {
        .contenedor-padre {
            .ventajas-consulteccnia__contenedor {
                @include propiedadesCajas(2px, $relleno-cajitas, $negro, $gris-ct-light, 1px, $width-ventajas-ct-container);

                .ventajas-consulteccnia__h2 {
                    font-size: $font-h2-size-xl;
                    padding: 0px 0px 15px 0px;
                }

                .ventajas-consulteccnia__p {
                    font-size: $font-size-p-ventajas-xl;
                }
            }
        }

    }

    /*cards*/
    .card {
        width: $width-card-xl;
    }

    /*sección about-me*/
    .about-me {
        padding: 2px;
    }

    .about-me__h2 {
        font-size: $font-h2-size-xl;
    }

    /*fin de sección about-me*/

    /*ancho de inputs de form*/
    .contact{
        .contact__h2{
            font-size: $font-h2-size-xl;
        }
        .formulario .form-control {
            width: $width-input-form-xl;
        }
    }

    /*elementos del pie*/
    .footer .insta {
        width: 4%;
    }

    .footer__logotype {
        width: 10%;
    }
}

/* adaptación a large*/
@media only screen and (max-width:992px) {

    /*sección de oferta-cursos*/
    .oferta-cursos {
        .oferta-cursos__h2 {
            font-size: $font-h2-oferta-cursos-lg;
        }

        .oferta-cursos__p {
            font-size: $font-p-oferta-cursos-lg;
        }
    }

    /*sección de beneficios-consulteccnia*/
    .beneficios-consulteccnia {
        .beneficios-consulteccnia__caja {
            .beneficios_consulteccnia__h3 {
                font-size: $font-h3-size-lg;
            }

            .beneficios-consulteccnia__p {
                font-size: $font-size-p-lg;
            }
        }
    }

    /*fin sección de beneficios-consulteccnia*/

    /*la img del section ventajas-consulteccnia*/
    .ventajas-consulteccnia {
        .ventajas-consulteccnia__h2 {
            font-size: $font-h2-size-lg;
        }

        .contenedor-padre {
            background-image: none;

            .ventajas-consulteccnia__contenedor-padre__flex-start {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 12px;
                .ventajas-consulteccnia__contenedor {
                    @include propiedadesCajas(2px, $relleno-cajitas, $negro, $gris-ct-light, 1px, $width-ventajas-ct-container-lg);

                    .ventajas-consulteccnia__h3 {
                        font-size: $font-h3-size-lg;
                    }

                    .ventajas-consulteccnia__p {
                        font-size: $font-size-p-ventajas-lg;
                    }
                }
            }

            .ventajas-consulteccnia__contenedor-padre__flex-end {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 12px;
                .ventajas-consulteccnia__contenedor {
                    @include propiedadesCajas(2px, $relleno-cajitas, $negro, $gris-ct-light, 1px, $width-ventajas-ct-container-lg);

                    .ventajas-consulteccnia__h3 {
                        font-size: $font-h3-size-lg;
                    }

                    .ventajas-consulteccnia__p {
                        font-size: $font-size-p-ventajas-lg;
                    }
                }
            }
        }
    }

    /*sección de about-me*/
    .about-me {
        padding: 1px;

        .about-me__h2 {
            font-size: $font-h2-size-lg;
        }

        .about-me__legend {
            font-size: 1.2em;
        }
    }

    /*fin sección de about-me*/

    /*tarjetitas en general de servicios y cursos*/
    .card {
        width: $width-card-lg;
    }

    .contact{
        .contact__h2{
            font-size: $font-h2-size-lg;
        }
        /*input del formulario*/
        .formulario .form-control {
            width: $width-input-form-lg;
        }
    }

    /*elementos del pie*/
    .footer {
        .insta {
            width: 4%;
            padding: 3px;
        }

        .footer__logotype {
            width: 17%;
        }
    }
}

/*adaptando medidas a extra small*/
@media only screen and (min-width: 270px) and (max-width: 576px) {
    .oferta-cursos {
        .oferta-cursos__container {
            padding: 20px;
            color: $negro;

            .oferta-cursos__h2 {
                font-size: $font-h2-oferta-cursos-sm;
                width: 100%;
            }

            .oferta-cursos__p {
                font-size: $font-p-oferta-cursos-sm;
            }

            .oferta-cursos__button {
                padding: 15px;
                font-size: 1em;
            }
        }
    }

    .ventajas-consulteccnia {
        .contenedor-padre {
            .ventajas-consulteccnia__contenedor-padre__flex-start {
                .ventajas-consulteccnia__contenedor {
                    .ventajas-consulteccnia__h3 {
                        font-size: $font-h3-size-sm;
                    }

                    .ventajas-consulteccnia__p {
                        font-size: $font-size-p-ventajas-sm;
                    }
                }
            }

            .ventajas-consulteccnia__contenedor-padre__flex-end {
                .ventajas-consulteccnia__contenedor {
                    .ventajas-consulteccnia__h3 {
                        font-size: $font-h3-size-sm;
                    }

                    .ventajas-consulteccnia__p {
                        font-size: $font-size-p-ventajas-sm;
                    }
                }
            }
        }

    }

    .ubicacion {
        .ubicacion__h2 {
            font-size: $font-h2-size-sm;
        }
    }

    /*sección de about-me*/
    .about-me__h2 {
        font-size: $font-h2-size-sm;
    }

    .about-me__legend {
        font-size: 0.9em;
    }

    /*fin de sección de about-me*/

    /*cards*/
    .card {
        background-color: $white-ct;
        border: 1px solid $negro;
        width: $width-card-sm;
    }

    .contact{
        .contact__h2{
            font-size: $font-h2-size-sm;
        }
        .formulario {
            .form-control {
                width: $width-input-form-sm;
            }
        }
    }

    /*titulos de las cards en cursos*/
    .cursos {
        .card-title {
            @include cards-titles(1.2em, 80px);
        }
    }

    /*títulos de las cards en servicios*/
    .servicios {
        .card-title {
            @include cards-titles(1.2em, 100px);
        }
        .card-text{
            font-size: $font-size-card-sm;
        }
    }

    /*el logotipo del footer al final*/
    .footer {
        .insta {
            width: 4%;
            padding: 3px;
        }

        .footer__logotype {
            width: 33%;
        }
    }
}