/*imports*/

/*archivo sobre fuentes y propiedades*/
@import "fonts";
/*archivo sobre colores*/
@import "colors";
/*archivo para maquetar grids*/
@import "grids";
/*archivo para sombras*/
@import "shadows";
/*archivo para los anchos de cajas, textos u otros elementos*/
@import "widths";
/*archivo que añade props en los boxs y divs*/
@import "box";
/*archivo que configura props en tarjetitas (cards)*/
@import "cards";

/*reseteo universal*/
* {
    margin: 0%;
    padding: 0%;
}

/*fuente de texto*/
body {
    font-family: 'Archivo', sans-serif;
}

/*atributos a los h's en general*/
h1{
    @extend .h1-styles-desktop;
}
h2{
    @extend .h2-styles-desktop;
}
h3{
    @extend .h3-styles-desktop;
}
p{
    @extend .p-styles-desktop;
}
/*fin atributos a los h's en general*/

/*estructuras de la clase body*/
.body {
    display: grid;
    grid-template:
        $grids ;
    background-image: linear-gradient(0deg, rgba(230, 230, 230, 0.8), rgba(210, 210, 210, 0.9)),
        url("../assets/imgs/rascacielos.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*fin estructuras al body*/

/*atributos en general al header*/
.header {
    grid-area: header;
    max-width: 100%;
    .nav-link {
        margin-left: 5px;
        &:hover {
            @extend .anchor-hover;
            text-decoration: underline;
        }
    }
    .active {
        font-weight: bolder;
        &:hover {
            @extend .anchor-hover;
            text-decoration: none;
            color: $gris-ct-light;
        }
    }
}
/*fin atributos en general al header*/

/*clase main con su grid area*/
.main {
    grid-area: main;
}

/*atributos al primer section del index*/
.oferta-cursos {
    height: 360px;
    background-attachment: fixed;
    .oferta-cursos__container {
        padding: 20px;
        color: $negro;
        .oferta-cursos__h2{
            margin: 0%;
            font-size: $font-h2-oferta-cursos;
            transform: skew(1deg, 1deg);
        }
        .oferta-cursos__button {
            font-weight: 600;
            padding: $relleno-cajitas *2;
            font-size: 1.8em;
            box-shadow: $sombras-ct-navbar-toggler;
        }
    }
}
/*fin de atributos al primer section del index*/

/*atributos al section de beneficios-consulteccnia*/
.beneficios-consulteccnia {
    max-width: 100%;
    border-top: 0.2px solid $negro;
    background-color: $white-ct;
    border-bottom: 1px solid black;
    .beneficios-consulteccnia__caja {
        @include propiedadesCajas(10px, $negro,$width-caja-beneficios);
        &:hover {
            box-shadow: map-get($map: $hovers, $key: sombras);
            transition: map-get($map: $hovers, $key: transicion);
            background-color: $gris-ct-hover;
        }
        .beneficios_consulteccnia__h3{
            text-decoration: underline gray;
        }
        .beneficios-consulteccnia__p {
            color: $negro;
        }
        .beneficios-consulteccnia__img-card {
            width: $width-img
        }
    }
}
/*fin de atributos al section de beneficios-consulteccnia*/

/*atributos al section de ventajas-consulteccnia*/
.ventajas-consulteccnia {
    background-color: $white-ct;
    padding: $relleno-cajitas;
    .ventajas-consulteccnia__h2{
        margin-top: $margenes * 2;
        margin-bottom: $margenes;
    }
    .contenedor-padre {
        background-image: url("../assets/imgs/raya-divisora.png");
        background-size: cover;
        background-position: center center;
        margin-bottom: $margenes * 2;
        .ventajas-consulteccnia__contenedor-padre__flex-start {
            @include ventajas-contenedor(flex, column, flex-start);
        }
        .ventajas-consulteccnia__contenedor-padre__flex-end {
            @include ventajas-contenedor(flex, column, flex-end);
        }
        .ventajas-consulteccnia__contenedor {
            background-image: linear-gradient(20deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)), url("../assets/imgs/city-map.jpg");
            background-attachment: fixed;
            @include propiedadesCajas( $relleno-cajitas, $white-ct, $width-ventajas-ct-container);
            box-shadow: $sombras-ct;
            text-align: center;
            &:hover {
                transition: map-get($map: $hovers, $key: transicion);
                box-shadow: map-get($map: $hovers, $key: sombras);
                transform: map-get($map: $hovers, $key: transformacion)
            }
            .ventajas-consulteccnia__img-ventaja {
                width: $width-img;
            }
            .ventajas-consulteccnia__p {
                font-size: $font-size-p-ventajas-desktop;
                color: $white-ct;
            }
        }
    }
}
/*fin de atributos al section de ventajas-consulteccnia*/

/*atributos a ubicacion*/
.ubicacion {
    border-top: 1px solid $negro;
    background-color: $white-ct;
    .ubicacion__p {
        color: $negro;
        padding: $relleno-cajitas + 5;
    }
    .ubicacion__iframe {
        border-radius: 10px;
        box-shadow: $sombras-ct;
    }
}
/*fin atributos a ubicacion*/

/*atributos a la sección cursos*/
.cursos {
    max-width: 100%;
    .cursos .col {
        padding-right: 0%;
    }
    .cursos .card-title {
        @include cards-titles($font-h3-size, 90px);
    }
}
/*fin atributos a sección cursos*/

/*atributos en general a las cards de servicios y capacitaciones*/
.card {
    background-color: $gris-ct-light;
    border: 1px solid $negro;
    width: $width-card;
    &:hover {
        box-shadow: map-get($map: $hovers, $key: sombras);
        transition: map-get($map: $hovers, $key: transicion);
        background-color: $negro;
        color: $gris-ct-hover;
        @if (background-color: $negro){
            .btn{
                background-color: $white-ct;
                color: $negro;
                transition: map-get($map: $hovers, $key: transicion);
                font-weight: 400;
            }
            .card-img-top{
                transition: map-get($map: $hovers, $key: transicion);
            }
        }
    }
    .card-text {
        font-size: 0.97em;
    }
}
/*fin atributos en general a las cards de servicios y capacitaciones*/

/*atributos en general a la sección de servicios*/
.servicios {
    max-width: 100%;
    .col {
        padding-right: 0%;
    }
    .card-title {
        @include cards-titles(1.5em, 110px);
    }
}
/*fin atributos en general a la sección de servicios*/

/*atributos a la sección de about-me*/
.about-me {
    padding: $relleno-cajitas;
    .about-me__img {
        max-width: 90%;
        box-shadow: $sombras-ct;
    }    
    .about-me__legend {
        font-size: 1.3em;
    }
}
/*fin de atributos a la sección de about-me*/

/*atributos al section de la page contactos*/
.contact{
    background-color: $white-ct;
    /* atributos a elementos dentro de la clase formulario*/
    .formulario {
        background-color: $gris-ct;
        border-radius: 9px;
        box-shadow: $sombras-ct;
        color: $white-ct; 
        .form-control {
            width: $width-input-form;
            border-bottom: 1px solid $gris-ct;
        }
    
        .form-label {
            font-weight: 800;
        }
    }
}
/* fin de atributos a la section de page contactos*/


/*atributos a elementos dentro de la clase footer*/
.footer {
    padding: 20px 0px 15px 5px;
    grid-area: footer;
    background-color: $gris-ct;
    p {
        color: $white-ct;
    }
    .enlace-insta {
        text-decoration: none;
        color: $white-ct;
        font-weight: 800;
    }
    .insta {
        width: 2%;
        padding: 3px;
    }
    hr {
        color: $white-ct;
    }
    a {
        color: $white-ct;
    }
    .creditos {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white-ct;
    }
    .footer__logotype {
        width: 10%;
    }
}
/*fin atributos a elementos dentro de la clase footer*/

/*AQUÍ COMIENZAN LOS MEDIA QUERIES*/
/*AQUÍ COMIENZAN LOS MEDIA QUERIES*/
/*AQUÍ COMIENZAN LOS MEDIA QUERIES*/

/*adaptación a extra large*/
@media only screen and (max-width:1200px) {
    h1{
        font-size: $font-h1-size-xl;
    }
    h2{
        font-size: $font-h2-size-xl;
    }
    h3{
        font-size: $font-h3-size-xl;
    }
    p{
        font-size: $font-size-p-xl;
    }
    /*sección oferta-cursos*/
    .oferta-cursos {
        height: auto;
        .oferta-cursos__container{
            .oferta-cursos__p {
                font-size: $font-p-oferta-cursos-xl;
            }
            .oferta-cursos__button {
                padding: $relleno-cajitas;
            }
        }
    }
    /*fin sección oferta-cursos*/

    /*sección beneficios-consulteccnia*/
    .beneficios-consulteccnia {
        .beneficios-consulteccnia__caja {
            @include propiedadesCajas( $relleno-cajitas, $negro, $width-caja-beneficios-xl);
        }
    }
    /*fin de sección beneficios-consulteccnia*/

    /*section ventajas-consulteccnia*/
    .ventajas-consulteccnia {
        .contenedor-padre {
            .ventajas-consulteccnia__contenedor {
                @include propiedadesCajas( $relleno-cajitas, $gris-ct-light, $width-ventajas-ct-container);
                &:hover{
                    transform: none;
                }
                .ventajas-consulteccnia__h2 {
                    padding: 0px 0px 15px 0px;
                }
                .ventajas-consulteccnia__p {
                    font-size: $font-size-p-ventajas-xl;
                }
            }
        }
    }
    /*fin section ventajas-consulteccnia*/

    /*cards*/
    .card {
        width: $width-card-xl;
    }
    /*fin de sección about-me*/

    /*atributos section contact*/
    .contact{
        .formulario .form-control {
            width: $width-input-form-xl;
        }
    }
    /*fin de atributos al section contact*/

    /*elementos del pie*/
    .footer .insta {
        width: 4%;
    }

    .footer__logotype {
        width: 10%;
    }
}
/* adaptación a large*/
@media only screen and (max-width:992px) {

    h1{
        font-size: $font-h1-size-lg;
    }
    h2{
        font-size: $font-h2-size-lg;
    }
    h3{
        font-size: $font-h3-size-lg;
    }
    p{
        font-size: $font-size-p-ventajas-lg;
    }

    header{
        .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
            display: flex;
            flex-wrap: inherit;
            align-items: flex-start;
            flex-direction: column;
        }
        .navbar-toggler{
            box-shadow: $sombras-ct-navbar-toggler;
        }
        .nav-link{
            color: $negro;
            font-weight: 800;
        }
    }

    /*sección de oferta-cursos*/
    .oferta-cursos {
        .oferta-cursos__p {
            font-size: $font-p-oferta-cursos-lg;
        }
    }
    /*fin de sección de oferta-cursos*/

    /*sección de beneficios-consulteccnia*/
    .beneficios-consulteccnia {
        .beneficios-consulteccnia__caja {
            .beneficios-consulteccnia__p {
                font-size: $font-size-p-lg;
            }
        }
    }
    /*fin sección de beneficios-consulteccnia*/

    /*section ventajas-consulteccnia*/
    .ventajas-consulteccnia {
        .contenedor-padre {
            background-image: none;
            .ventajas-consulteccnia__contenedor-padre__flex-end, .ventajas-consulteccnia__contenedor-padre__flex-start{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 12px;
                .ventajas-consulteccnia__contenedor {
                    @include propiedadesCajas($relleno-cajitas, $gris-ct-light, $width-ventajas-ct-container-lg);
                    .ventajas-consulteccnia__p {
                        font-size: $font-size-p-ventajas-lg;
                    }
                }
            }
        }
    }
    /*fin del section ventajas-consulteccnia*/

    /*sección de about-me*/
    .about-me {
        .about-me__legend {
            font-size: 1.2em;
        }
    }
    /*fin sección de about-me*/

    /*tarjetitas en general de servicios y cursos*/
    .card {
        width: $width-card-lg;
    }

    /*section de contact*/
    .contact{
        /*input del formulario*/
        .formulario .form-control {
            width: $width-input-form-lg;
        }
    }
    /*fin section de contact*/

    /*elementos del pie*/
    .footer {
        .footer__logotype {
            width: 17%;
        }
    }
}

/*adaptando medidas a extra small*/
@media only screen and (min-width: 270px) and (max-width: 576px) {
    h1{
        font-size: $font-h1-size-sm;
    }
    h2{
        font-size: $font-h2-size-sm;
    }
    h3{
        font-size: $font-h3-size-sm;
    }
    p{
        font-size: $font-size-p-sm;
    }
    /*section de oferta-cursos*/
    .oferta-cursos {
        .oferta-cursos__container {
            color: $negro;
            .oferta-cursos__h2 {
                font-size: $font-h2-oferta-cursos-sm;
                width: 100%;
            }
            .oferta-cursos__p {
                font-size: $font-p-oferta-cursos-sm;
            }
            .oferta-cursos__button {
                font-size: 1em;
            }
        }
    }
    /*fin atributos al section de ubicacion*/

    /*sección de about-me*/
    .about-me__legend {
        font-size: 0.9em;
    }
    /*fin de sección de about-me*/

    /*cards*/
    .card {
        width: $width-card-sm;
    }

    /*atributos a contact*/
    .contact{
        .formulario {
            .form-control {
                width: $width-input-form-sm;
            }
        }
    }
    /*fin atributos a contact*/

    /*titulos de las cards en cursos*/
    .cursos {
        .card-title {
            @include cards-titles(1.2em, 80px);
        }
    }

    /*títulos de las cards en servicios*/
    .servicios {
        .card-title {
            @include cards-titles(1.2em, 100px);
        }
        .card-text{
            font-size: $font-size-card-sm;
        }
    }

    /*el logotipo del footer al final*/
    .footer {
        .insta {
            width: 6.5%;
            padding: 3px;
        }
        .footer__logotype {
            width: 33%;
        }
    }
}