@charset "UTF-8";
/*imports*/
/*archivo sobre fuentes y propiedades*/
/*estilos en general para h1 desktop, luego usados como extensión*/
.h1-styles-desktop, h1 {
  font-size: 4.4em;
}

/*estilos en general para h2 desktop, luego usado como extensión*/
.h2-styles-desktop, h2 {
  font-size: 2.9em;
  text-align: center;
  color: rgb(40, 40, 40);
  font-weight: 800;
}

/*estilos en general para h3 desktop, luego usarlo como extensión*/
.h3-styles-desktop, h3 {
  font-size: 1.6em;
  text-align: center;
  font-weight: 700;
}

/*clase para los hovers del a*/
.anchor-hover, .header .active:hover, .header .nav-link:hover {
  background: linear-gradient(190deg, rgba(0, 0, 0, 0.8), rgba(63, 63, 63, 0.9));
  color: rgb(230, 230, 230);
  border-radius: 5px;
  transition: 0.2s all;
}

.p-styles-desktop, p {
  font-size: 1.5em;
}

/*archivo sobre colores*/
/*archivo para maquetar grids*/
/*archivo para sombras*/
/*archivo para los anchos de cajas, textos u otros elementos*/
/*archivo que añade props en los boxs y divs*/
/*archivo que configura props en tarjetitas (cards)*/
/*mixin para tamaños de fuente de card-titles y altura*/
.card-duration, .cursos .card-duration {
  font-size: 1.3em;
  -webkit-text-decoration: 1px underline gray;
          text-decoration: 1px underline gray;
}

/*reseteo universal*/
* {
  margin: 0%;
  padding: 0%;
}

/*fuente de texto*/
body {
  font-family: "Archivo", sans-serif;
}

/*atributos a los h's en general*/
/*fin atributos a los h's en general*/
/*estructuras de la clase body*/
.body {
  display: grid;
  grid-template: "header" auto "main" auto "footer" 200px/100%;
  background-image: linear-gradient(0deg, rgba(230, 230, 230, 0.8), rgba(210, 210, 210, 0.9)), url("../assets/imgs/rascacielos.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*fin estructuras al body*/
/*atributos en general al header*/
.header {
  grid-area: header;
  max-width: 100%;
}
.header .nav-link {
  margin-left: 5px;
}
.header .nav-link:hover {
  text-decoration: underline;
}
.header .active {
  font-weight: bolder;
}
.header .active:hover {
  text-decoration: none;
  color: rgb(235, 235, 235);
}

/*fin atributos en general al header*/
/*clase main con su grid area*/
.main {
  grid-area: main;
}

/*atributos al primer section del index*/
.oferta-cursos {
  height: 360px;
  background-attachment: fixed;
}
.oferta-cursos .oferta-cursos__container {
  padding: 20px;
  color: rgb(20, 20, 20);
}
.oferta-cursos .oferta-cursos__container .oferta-cursos__h2 {
  margin: 0%;
  font-size: 3.8em;
  transform: skew(1deg, 1deg);
  animation-name: animation-h2-courses;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes animation-h2-courses {
  0% {
    transform: skew(1deg, 2deg);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../assets/imgs/photo-1639322537504-6427a16b0a28.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(245, 245, 245);
    border-radius: 16px;
  }
  25% {
    transform: skew(1deg, 3deg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(245, 245, 245);
    transform: skew(1deg, 2deg);
  }
  75% {
    transform: skew(1deg, -1deg);
  }
  100% {
    box-shadow: 0px 5px 10px 2px black;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(245, 245, 245);
    border-radius: 32px;
  }
}
.oferta-cursos .oferta-cursos__container .oferta-cursos__button {
  font-weight: 600;
  padding: 20px;
  font-size: 1.8em;
  box-shadow: 0px 2px 5px 0px;
}

/*fin de atributos al primer section del index*/
/*atributos al section de beneficios-consulteccnia*/
.beneficios-consulteccnia {
  max-width: 100%;
  border-top: 0.2px solid rgb(20, 20, 20);
  background-color: rgb(245, 245, 245);
  border-bottom: 1px solid black;
}
.beneficios-consulteccnia .beneficios-consulteccnia__caja {
  padding: 10px;
  color: rgb(20, 20, 20);
  max-width: 27%;
}
.beneficios-consulteccnia .beneficios-consulteccnia__caja:hover {
  box-shadow: 0px 0px 15px 3px rgb(134, 134, 134);
  transition: 0.5s all;
  background-color: rgb(210, 210, 210);
}
.beneficios-consulteccnia .beneficios-consulteccnia__caja .beneficios_consulteccnia__h3 {
  -webkit-text-decoration: underline gray;
          text-decoration: underline gray;
}
.beneficios-consulteccnia .beneficios-consulteccnia__caja .beneficios-consulteccnia__p {
  color: rgb(20, 20, 20);
}
.beneficios-consulteccnia .beneficios-consulteccnia__caja .beneficios-consulteccnia__img-card {
  width: 15%;
}

/*fin de atributos al section de beneficios-consulteccnia*/
/*atributos al section de ventajas-consulteccnia*/
.ventajas-consulteccnia {
  background-color: rgb(245, 245, 245);
  padding: 10px;
}
.ventajas-consulteccnia .ventajas-consulteccnia__h2 {
  margin-top: 100px;
  margin-bottom: 50px;
}
.ventajas-consulteccnia .contenedor-padre {
  background-image: url("../assets/imgs/raya-divisora.png");
  background-size: cover;
  background-position: center center;
  margin-bottom: 100px;
}
.ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor-padre__flex-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor-padre__flex-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor {
  background-image: linear-gradient(20deg, rgba(0, 0, 0, 0.8), rgb(0, 0, 0)), url("../assets/imgs/city-map.jpg");
  background-attachment: fixed;
  padding: 10px;
  color: rgb(245, 245, 245);
  max-width: 48%;
  box-shadow: 0px 0px 25px 3px rgb(97, 97, 97);
  text-align: center;
}
.ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor:hover {
  transition: 0.5s all;
  box-shadow: 0px 0px 15px 3px rgb(134, 134, 134);
  transform: skew(0deg, 2deg);
}
.ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor .ventajas-consulteccnia__img-ventaja {
  width: 15%;
}
.ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor .ventajas-consulteccnia__p {
  font-size: 1.8em;
  color: rgb(245, 245, 245);
}

/*fin de atributos al section de ventajas-consulteccnia*/
/*atributos a ubicacion*/
.ubicacion {
  border-top: 1px solid rgb(20, 20, 20);
  background-color: rgb(245, 245, 245);
}
.ubicacion .ubicacion__p {
  color: rgb(20, 20, 20);
  padding: 15px;
}
.ubicacion .ubicacion__iframe {
  border-radius: 10px;
  box-shadow: 0px 0px 25px 3px rgb(97, 97, 97);
}

/*fin atributos a ubicacion*/
/*atributos a la sección cursos*/
.cursos {
  max-width: 100%;
}
.cursos .col {
  padding-right: 0%;
}
.cursos .card-title {
  font-size: 1.6em;
  height: 90px;
}
/*fin atributos a sección cursos*/
/*atributos en general a las cards de servicios y capacitaciones*/
.card {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(20, 20, 20);
  width: 20rem;
}
.card:hover {
  box-shadow: 0px 0px 15px 3px rgb(134, 134, 134);
  transition: 0.5s all;
  background-color: rgb(20, 20, 20);
  color: rgb(210, 210, 210);
}
.card:hover .btn {
  background-color: rgb(245, 245, 245);
  color: rgb(20, 20, 20);
  transition: 0.5s all;
  font-weight: 400;
}
.card:hover .card-img-top {
  transition: 0.5s all;
}
.card .card-text {
  font-size: 0.97em;
}

/*fin atributos en general a las cards de servicios y capacitaciones*/
/*atributos en general a la sección de servicios*/
.servicios {
  max-width: 100%;
}
.servicios .col {
  padding-right: 0%;
}
.servicios .card-title {
  font-size: 1.5em;
  height: 110px;
}

/*fin atributos en general a la sección de servicios*/
/*atributos a la sección de about-me*/
.about-me {
  padding: 10px;
}
.about-me .about-me__img {
  max-width: 90%;
  box-shadow: 0px 0px 25px 3px rgb(97, 97, 97);
}
.about-me .about-me__legend {
  font-size: 1.3em;
}

/*fin de atributos a la sección de about-me*/
/*atributos al section de la page contactos*/
.contact {
  background-color: rgb(245, 245, 245);
  /* atributos a elementos dentro de la clase formulario*/
}
.contact .formulario {
  background-color: rgb(70, 70, 70);
  border-radius: 9px;
  box-shadow: 0px 0px 25px 3px rgb(97, 97, 97);
  color: rgb(245, 245, 245);
}
.contact .formulario .form-control {
  width: 40%;
  border-bottom: 1px solid rgb(70, 70, 70);
}
.contact .formulario .form-label {
  font-weight: 800;
}

/* fin de atributos a la section de page contactos*/
/*atributos a elementos dentro de la clase footer*/
.footer {
  padding: 20px 0px 15px 5px;
  grid-area: footer;
  background-color: rgb(70, 70, 70);
}
.footer p {
  color: rgb(245, 245, 245);
}
.footer .enlace-insta {
  text-decoration: none;
  color: rgb(245, 245, 245);
  font-weight: 800;
}
.footer .insta {
  width: 2%;
  padding: 3px;
}
.footer hr {
  color: rgb(245, 245, 245);
}
.footer a {
  color: rgb(245, 245, 245);
}
.footer .creditos {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(245, 245, 245);
}
.footer .footer__logotype {
  width: 10%;
}

/*fin atributos a elementos dentro de la clase footer*/
/*AQUÍ COMIENZAN LOS MEDIA QUERIES*/
/*AQUÍ COMIENZAN LOS MEDIA QUERIES*/
/*AQUÍ COMIENZAN LOS MEDIA QUERIES*/
/*adaptación a extra large*/
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.4em;
  }
  h3 {
    font-size: 1.4em;
  }
  p {
    font-size: 1.3em;
  }
  /*sección oferta-cursos*/
  .oferta-cursos {
    height: auto;
  }
  .oferta-cursos .oferta-cursos__container .oferta-cursos__p {
    font-size: 2.2em;
  }
  .oferta-cursos .oferta-cursos__container .oferta-cursos__button {
    padding: 10px;
  }
  /*fin sección oferta-cursos*/
  /*sección beneficios-consulteccnia*/
  .beneficios-consulteccnia .beneficios-consulteccnia__caja {
    padding: 10px;
    color: rgb(20, 20, 20);
    max-width: 75%;
  }
  /*fin de sección beneficios-consulteccnia*/
  /*section ventajas-consulteccnia*/
  .ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor {
    padding: 10px;
    color: rgb(235, 235, 235);
    max-width: 48%;
  }
  .ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor:hover {
    transform: none;
  }
  .ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor .ventajas-consulteccnia__h2 {
    padding: 0px 0px 15px 0px;
  }
  .ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor .ventajas-consulteccnia__p {
    font-size: 1.6em;
  }
  /*fin section ventajas-consulteccnia*/
  .cursos .card-duration {
    font-size: 1.2em;
  }
  /*cards*/
  .card {
    width: 19rem;
  }
  /*fin de sección about-me*/
  /*atributos section contact*/
  .contact .formulario .form-control {
    width: 70%;
  }
  /*fin de atributos al section contact*/
  /*elementos del pie*/
  .footer .insta {
    width: 4%;
  }
  .footer__logotype {
    width: 10%;
  }
}
/* adaptación a large*/
@media only screen and (max-width: 992px) {
  h1 {
    font-size: 3.2em;
  }
  h2 {
    font-size: 2.2em;
  }
  h3 {
    font-size: 1.2em;
  }
  p {
    font-size: 1.3em;
  }
  header .navbar > .container, header .navbar > .container-fluid, header .navbar > .container-lg, header .navbar > .container-md, header .navbar > .container-sm, header .navbar > .container-xl, header .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: flex-start;
    flex-direction: column;
  }
  header .navbar-toggler {
    box-shadow: 0px 2px 5px 0px;
  }
  header .nav-link {
    color: rgb(20, 20, 20);
    font-weight: 800;
  }
  /*sección de oferta-cursos*/
  .oferta-cursos .oferta-cursos__p {
    font-size: 2em;
  }
  /*fin de sección de oferta-cursos*/
  /*sección de beneficios-consulteccnia*/
  .beneficios-consulteccnia .beneficios-consulteccnia__caja .beneficios-consulteccnia__p {
    font-size: 1.2em;
  }
  /*fin sección de beneficios-consulteccnia*/
  /*section ventajas-consulteccnia*/
  .ventajas-consulteccnia .contenedor-padre {
    background-image: none;
  }
  .ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor-padre__flex-end, .ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor-padre__flex-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
  }
  .ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor-padre__flex-end .ventajas-consulteccnia__contenedor, .ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor-padre__flex-start .ventajas-consulteccnia__contenedor {
    padding: 10px;
    color: rgb(235, 235, 235);
    max-width: 95%;
  }
  .ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor-padre__flex-end .ventajas-consulteccnia__contenedor .ventajas-consulteccnia__p, .ventajas-consulteccnia .contenedor-padre .ventajas-consulteccnia__contenedor-padre__flex-start .ventajas-consulteccnia__contenedor .ventajas-consulteccnia__p {
    font-size: 1.3em;
  }
  /*fin del section ventajas-consulteccnia*/
  .cursos .card-duration {
    font-size: 1.1em;
  }
  /*sección de about-me*/
  .about-me .about-me__legend {
    font-size: 1.2em;
  }
  /*fin sección de about-me*/
  /*tarjetitas en general de servicios y cursos*/
  .card {
    width: 16rem;
  }
  /*section de contact*/
  .contact {
    /*input del formulario*/
  }
  .contact .formulario .form-control {
    width: 60%;
  }
  /*fin section de contact*/
  /*elementos del pie*/
  .footer .footer__logotype {
    width: 17%;
  }
}
/*adaptando medidas a extra small*/
@media only screen and (min-width: 270px) and (max-width: 576px) {
  h1 {
    font-size: 2.6em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 0.8em;
  }
  /*section de oferta-cursos*/
  .oferta-cursos .oferta-cursos__container {
    color: rgb(20, 20, 20);
  }
  .oferta-cursos .oferta-cursos__container .oferta-cursos__h2 {
    font-size: 2em;
    width: 100%;
  }
  .oferta-cursos .oferta-cursos__container .oferta-cursos__p {
    font-size: 1.7em;
  }
  .oferta-cursos .oferta-cursos__container .oferta-cursos__button {
    font-size: 1em;
  }
  /*fin atributos al section de ubicacion*/
  /*sección de about-me*/
  .about-me__legend {
    font-size: 0.9em;
  }
  /*fin de sección de about-me*/
  /*cards*/
  .card {
    width: 13.5rem;
  }
  /*atributos a contact*/
  .contact .formulario .form-control {
    width: 90%;
  }
  /*fin atributos a contact*/
  /*titulos de las cards en cursos*/
  .cursos .card-title {
    font-size: 1.2em;
    height: 80px;
  }
  /*títulos de las cards en servicios*/
  .servicios .card-title {
    font-size: 1.2em;
    height: 100px;
  }
  .servicios .card-text {
    font-size: 0.87em;
  }
  /*el logotipo del footer al final*/
  .footer .insta {
    width: 6.5%;
    padding: 3px;
  }
  .footer .footer__logotype {
    width: 33%;
  }
}/*# sourceMappingURL=style.css.map */