<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - ConsulTeccnia</title>
    <!-- invocar fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- fin invocar fuentes -->

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <!-- fin Bootstrap -->

    <!-- invocar CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- fin invocar CSS -->
    <link rel="shortcut icon" href="../assets/imgs/favicon.png" type="image/x-icon">
</head>
<body class="body">
  <!-- inicio del header -->
    <header class="header">
        <!-- inicio de barra de navegación -->
        <nav class="navbar navbar-expand-lg navegador-gris">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="../index.html">
                        <img src="../assets/imgs/logotype.png" width="190" alt="logotype">
                    </a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link p-2" aria-current="page" href="./courses.html">Capacitaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" href="./services.html">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" href="./about-me.html">Acerca de Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2 active" href="#">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- fin barra de navegación -->
    </header>
    <!-- fin del header -->
    
    <!-- inicio del main -->
    <main class="main">

      <!-- section para el contacto -->
        <section class="m-5">
            <h1 class="h1__bold display-1">CONTACTO</h1>
            <h2>Contáctanos para sacarte tus dudas.</h2>
            
            <!-- inicio del formulario -->
            <form action="#" class="formulario p-3 mt-5">
                <div class="mb-3">
                    <label for="first-name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="first-name" placeholder="Nombre">
                  </div>

                  <div class="mb-3">
                    <label for="last-name" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="last-name" placeholder="Apellido"></input>
                  </div>

                  <div class="mb-3">
                    <label for="correo-electronico" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="correo-electronico" placeholder="email@ejemplo.com">
                  </div>

                  <p class="lead form-label">¿Qué tipo de empresa tiene?</p>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="type-business" value="pequeño-emprendedor" id="pequeño-emprendedor">
                    <label class="form-check-label" for="pequeño-emprendedor">
                      Ninguna
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="type-business" value="pequeño-emprendedor" id="pequeño-emprendedor">
                    <label class="form-check-label" for="pequeño-emprendedor">
                      Soy un pequeño emprendedor
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="type-business" value="pequeña-empresa" id="pequeña-empresa" checked>
                    <label class="form-check-label" for="pequeña-empresa">
                      Empresa pequeña
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="type-business" value="mediana-empresa" id="mediana-empresa">
                    <label class="form-check-label" for="mediana-empresa">
                      Empresa mediana
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="type-business" value="gran-empresa" id="gran-empresa" checked>
                    <label class="form-check-label" for="gran-empresa">
                      Empresa grande
                    </label>
                  </div>

                  <p class="lead form-label">¿En cuál de nuestros servicios tiene interés?</p>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="check-cursos">
                    <label class="form-check-label" for="check-cursos">
                      Cursos
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="check-negocios">
                    <label class="form-check-label" for="check-negocios">
                      Asesoría en negocios
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="check-progr-frontend">
                    <label class="form-check-label" for="check-progr-frontend">
                      Asesoría en Programación Web - Frontend
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="check-mk-digital">
                    <label class="form-check-label" for="check-mk-digital">
                      Asesoría en Marketing Digital
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="check-none">
                    <label class="form-check-label" for="check-none">
                      Nada en específico
                    </label>
                  </div>

                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label lead mt-3">Deje un mensaje:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>

                  <div>
                    <button class="btn btn-secondary" type="submit">ENVIAR</button>
                  </div>
            </form>
            <!-- fin del formulario -->
            
        </section>
        <!-- fin del section de contacto -->

    </main>
    <!-- fin del main -->
    
    <!-- inicio del footer -->
    <footer class="footer mt-2">
      <p>&copy; ConsulTeccnia 2023</p>
       <hr>
      <div class="contenedor-instagram">
          <a class="enlace-insta" href="https://www.instagram.com/consulteccnia" target="_blank">
              <img class="insta" src="../assets/imgs/ig_white.png" alt="instagram-consulteccnia">Instagram
           </a>
       </div>
       <div class="creditos">
           <p>Desarrollado por <a href="http://www.instagram.com/martynezprod" target="_blank"><b>Martynez</b></a></p>
           <img src="../assets/imgs/logotype-of-footer.png" alt="logotype-consulteccnia-footer" class="footer__logotype">
       </div>
   </footer>
   <!-- fin del footer -->
   
</body>
</html>