<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios - ConsulTeccnia</title>
    <!-- invocar fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- fin invocar fuentes -->

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <!-- fin Bootstrap -->

    <!-- invocar CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- fin invocar CSS -->
    <link rel="shortcut icon" href="../assets/imgs/favicon.png" type="image/x-icon">
</head>

<body class="body">
    <!-- inicio del header -->
    <header class="header">
        <!-- inicio de barra de navegación -->
        <nav class="navbar navbar-expand-lg navegador-gris">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="../index.html">
                        <img src="../assets/imgs/logotype.png" width="190" alt="logotype">
                    </a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link p-2" aria-current="page" href="./courses.html">Capacitaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active p-2" href="./services.html">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" href="./about-me.html">Acerca de Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" href="./contact.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- fin barra de navegación -->
    </header>
    <!-- fin del header -->

    <!-- inicio del main -->
    <main class="main">
        <!-- seccion de cursos -->
        <section class="servicios m-2">
            <h1 class="h1__bold display-1 p-3">SERVICIOS</h1>

            <!-- container fluid que ocupa el 100% del width -->
            <div class="container-fluid">


                <!-- sistema de grids para servicios, como el utilizado en cursos -->
                <div class="row gy-5">

                    <!-- asesoramiento en mercadotecnia digital -->
                    <div class="col">
                        <div class="card">
                            <img src="../assets/imgs/services/marketing-digital-servicios.png" class="card-img-top"
                                alt="asesoria-mercadotecnia-digital">
                            <div class="card-body">
                                <h5 class="card-title">ASESORAMIENTO EN MERCADOTECNIA DIGITAL</h5>
                                <p class="card-text">Asesoramiento en tácticas de venta en <b>RRSS, posicionamiento SEO,
                                        E-mail marketing.</b></p>
                                <a href="#" class="btn btn-secondary">CONSULTAR</a>
                            </div>
                        </div>
                    </div>
                    <!-- fin asesoramiento en mercadotecnia digital -->

                    <!-- asesoramiento en programación frontend  -->
                    <div class="col">
                        <div class="card">
                            <img src="../assets/imgs/services/asesoria-frontend.png" class="card-img-top" alt="asesoria-frontend">
                            <div class="card-body">
                                <h5 class="card-title">ASESORAMIENTO EN PROGRAMACIÓN WEB - FRONTEND</h5>
                                <p class="card-text">Asesoramiento en código <b>HTML, CSS y JS.</b> Integración de
                                    estilos,
                                    lógicas y algoritmos a tu sitio web.</p>
                                <a href="#" class="btn btn-secondary">CONSULTAR</a>
                            </div>
                        </div>
                    </div>
                    <!--fin asesoramiento en programación frontend -->

                    <!-- asesoramiento en e-commerce -->
                    <div class="col">
                        <div class="card">
                            <img src="../assets/imgs/services/e-commerce.png" class="card-img-top" alt="asesoria-e-commerce">
                            <div class="card-body">
                                <h5 class="card-title">ASESORAMIENTO EN E-COMMERCE</h5>
                                <p class="card-text">Asesoramiento en ventas de e-commerce y plataformas, como
                                    <b>Shopify,
                                        Wordpress y WooCommerce.</b></p>
                                <a href="#" class="btn btn-secondary">CONSULTAR</a>
                            </div>
                        </div>
                    </div>
                    <!-- fin curso de marketing digital -->

                </div>
                <!-- fin del sistema de grids -->

            </div>
            <!-- fin del container fluid -->
        </section>
        <!-- fin de la seccion -->
    </main>
    <!-- fin del main -->

    <!-- pie de página -->
    <footer class="footer mt-2">
        <p>&copy; ConsulTeccnia 2023</p>
        <hr>
        <div class="contenedor-instagram">
            <a class="enlace-insta" href="https://www.instagram.com/consulteccnia" target="_blank">
                <img class="insta" src="../assets/imgs/ig_white.png" alt="instagram-consulteccnia">Instagram
            </a>
        </div>
        <div class="creditos">
            <p>Desarrollado por <a href="https://www.instagram.com/martynezprod" target="_blank"><b>Martynez</b></a></p>
            <img src="../assets/imgs/logotype-of-footer.png" alt="logotype-consulteccnia-footer" class="footer__logotype">
        </div>
    </footer>
    <!-- fin pie de página -->
</body>

</html>